# 🔥 유닛 테스트 결과

![테스트 커버리지](assets/testCoverage.png)

## 테스트 커버리지 요소

> - Statements - 구문
> - Branches - 분기
> - Functions -함수
> - Lines - 줄

테스트 커버리지 확인은 `npx jest --coverage`를 통해 확인이 가능합니다!
